<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143253073927-h1qu07c81amj3mdgh6iu664b0bded73r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143253073927-h1qu07c81amj3mdgh6iu664b0bded73r</string>
	<key>API_KEY</key>
	<string>AIzaSyCCgaR96WSsUCRymCYe9ta-aLTvMzam4wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>143253073927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-test-68a72</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-68a72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143253073927:ios:c1768cf82b831460</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-68a72.firebaseio.com</string>
</dict>
</plist>